*{
    color: #f5ede2;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.navbar{
    background-color: #ff9f38;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.logo{
    height: 40px;
}

.nav-buttons{
    color: red;
}

.mybutton{
    border: none;
    color: black;
    padding: 0px 10px 0px 10px;
    background-color: transparent;
}

.signin-button1{
    color: white;
    background-color: rgb(66, 66, 198);
    padding:  2px 20px 2px 20px;
    align-items: center;
}

.introduction-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px 0px 50px;
    margin: 0px;
}

.introduction{
    color: black;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    padding: 0px 40px 0px 40px;
}

.title{
    font-size: 90px;
    color: black;
    font-weight: 300;
}

.title2{
    font-size: 90px;
    color: black;
}

.subtitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ff9f38;
    font-size:larger;
    font-weight: 700;
    padding: 7px 30px 7px 30px;
    text-align: center;
    
}

.description{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: larger;
    max-width: 700px;
    margin: 10px 0px 20px 0px;
}

.button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.signin-button2{
    border: none;
    color: white;
    font-size: large;
    background-color: #7c8ef5;
    padding:  8px 20px 8px 20px;
    align-items: center;
    margin: 10px;
    margin-left: 0px;
}

.readmore-button{
    border:none;
    color: black;
    font-size: large;
    background-color: transparent;
    padding:  2px 20px 2px 20px;
    margin: 10px;
}  

.handshakeimage-container{
    max-width: 100%;
}

.services-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 60px;

}

.services-intro{
    display: flex;
    flex-direction: row;
    margin: 0px;
    max-height: 100%;
    max-width: 100%;
    align-items: center;
}

.wave-image{
    height: 20px;
    flex-shrink: 2;
    max-height: 100%;
    max-width: 100%;
}

.service-text{
    color: black;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40px 60px 60px 40px;
}

.service-category{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid black;
    border-radius: 10px 10px 0px 0px;
    margin: 20px;
}

.service-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.round-image{
    margin: 50px;
}

.service-name{
    color: black;
    height: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: 700;
    border-radius: 20px;
    background-color: #7c8ef5 ;
    text-align: center;
    padding:  2px 30px 2px 30px;
    align-items: center;
}

.circle-container{
    border:none;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.circle-orange {
    background: #ff9f38;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 10px;
}

.circle-blue {
    background: #7c8ef5;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 10px;
}

.service-description{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
}


.features-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;

}

.features-intro{
    display: flex;
    flex-direction: row;
    margin: 0px;
    max-height: 100%;
    max-width: 100%;
    align-items: center;
}

.feature-text{
    color: black;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40px 60px 60px 40px;
}

.feature-category{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 4px solid black;
    border-radius: 30px;
    margin: 30px;
}

.feature-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rectangle-image{
    margin: 70px;
}

.feature-name{
    color: black;
    height: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: 700;
    text-align: center;
    padding:  2px 30px 2px 30px;
    align-items: center;
}



.feature-description{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
}

.introduction2-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 150px 50px 0px 50px;
}

.introduction2{
    color: black;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    padding: 0px 40px 0px 40px;
}

.read1-button{
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #7c8ef5;
    font-size: medium;
    font-weight: bold;
    padding:  10px 20px 10px 20px;
    margin: 10px;
}

.title3{
    font-size: 60px;
    color: black;
}

.read2-button{
    border: none;
    border-radius: 30px;
    color: black;
    background-color: #ff9f38;
    font-size: medium;
    font-weight: bold;
    padding:  10px 20px 10px 20px;
    margin: 10px;
}

.title4{
    font-size: 30px;
    color: black;
}


.features-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;

}

.features2-intro{
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
}

.feature2-text{
    color: black;
    font-size: 50px;
    flex-shrink: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

.features-card2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: transparent;
    border-radius: 30px;
    margin: 40px;
}

.rectangle2-image{
    margin: 20px;
}

.footer-section{
    display: flex;
    width: 100%;
    background-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer-section1{
    padding: 100px 0px 100px 0px;
}

.footer-section2{
    padding: 100px 0px 100px 0px;
}

.footer-section3{
    padding: 100px 0px 100px 0px;
}

.footer-buttons{
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

.mybutton2{
    border: none;
    color: white;
    font-size: larger;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    background-color: transparent;
    text-align: left;
}

.footer-intro{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 40px;
    text-align: left;
}

.subscription-intro{
    margin-bottom: 40px;
}

.subscription{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
}

.social-details{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.follow-text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.socials{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 15px;
}

.fa {
      margin: 15px;
      padding: 20px;
      width: 35px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
  }

.fa-facebook {
    background: #ff9f38;
    color: black;
  }
  
.fa-instagram {
    background: #ff9f38;
    color: black;
  }

  .fa-youtube {
    background: #ff9f38;
    color: black;
  }

  .image{
    min-height: 500px;
  }